{{>layout/header}}
    <h1>Spring Boot Web Service V2</h1>
    <div class="col-md-12">
       <div class="row">
           <div class="col-md-6">
               <a href = "/posts/save"
                  role = "button"
                  class = "btn-primary">
                   글 등록
               </a>
           </div>
           <h1>???????????</h1>
       </div>
    </div>

{{>layout/footer}}
